.form {
    /* display: block;
    width: 50%;
    margin: 0 auto; */

    /* background-color: rgb(149, 205, 205); */
    background-color: #c4c1e0;
    ;
    /* margin-left: 200px;
    margin-right: 200px; */

}