.topic {
    border: 1px solid #F1F6F5;
    border-radius: 5px;
    padding-bottom: 20px;
    overflow-x: hidden;
    background: radial-gradient(circle at 0.3% 1.3%, rgb(235, 217, 221) 0%, rgb(216, 174, 211) 45.1%, rgb(145, 130, 196) 100.2%);
}

.topic img {
    height: 200px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}


.topic a {
    text-decoration: none;

}




/* for-phones-devices*/

@media (min-width: 200px) and (max-width : 600px) {

    .topic img {
        height: 200px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .topic-all,
    .topic {
        width: 100%;
    }

    .category-button {
        padding: 0%;
    }


}


/* for-tablet-devices */

@media (min-width: 601px) and (max-width : 768px) {

    .topic img {
        height: 350px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
    }
}


/* for-laptop-devices */

@media (min-width: 769px) and (max-width : 992px) {

    .topic img {
        height: 350px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
    }
}

/* for-large-devices */

@media (min-width: 993px) and (max-width : 1200px) {

    .topic img {
        height: 350px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
    }
}

.course-btn {
    background-color: #5837D0;
}