.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.white-content {
  background: #e4e4e4;
}

.normal-font {
  font-family: 'Kanit', sans-serif;
  font-family: 'Permanent Marker', cursive;
}

.heading {
  font-family: 'Mukta', sans-serif;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Roboto', sans-serif;
  overflow-y: hidden;
}

.category-button {
  background: radial-gradient(732px at 96.2% 89.9%, rgb(70, 66, 159) 0%, rgb(187, 43, 107) 92%);
}

.y {
  overflow-y: hidden;
}